.curriculum-wrapper {
  width: 1180px;
  margin: 0 auto;
  .subject-heading {
    position: relative;
    right: 33.7em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: #696868;
  }
  .subjects-wrapper {
    .subjects-heading {
      display: flex;
      width: 100%;
      border: 1px solid #e0dfdf;
      padding: 0.5em 0.5em 0.5em 0.5em;
      border-right: none;
      border-left: none;
      box-sizing: border-box;

      .heading-wrapper {
        .main-heading {
          font-size: 16px;
          font-weight: bold;
        }
        .sub-heading {
          font-size: 12px;
          color: #888;
          font-weight: unset;
        }
        &:first-child {
          width: 7em;
          margin-right: 8em;
        }
      }
    }

    .chapter {
      color: #2dadba;
      font-weight: bold;
      font-size: 18px;
    }
    .heading {
      color: black;
      font-weight: bold;
      font-size: 16px;
    }
    .sub-heading {
      color: #888;
      font-weight: bold;
      font-size: 14px;
    }
    .subject-body {
      .subject-box {
        .subject-row {
          display: flex;
          border-bottom: 1px solid #e0dfdf;
          height: 38px;
          justify-content: left;
          width: 100%;
          .subject-col {
            margin-right: 2em;
            &:first-child {
              width: 7em;
              display: flex;
              justify-content: space-around;
              .tooltip-wrapper {
                display: flex;
                position: relative;
                opacity: 0.3;
                &:hover {
                  .tooltiptext {
                    visibility: visible;
                    opacity: 1;
                  }
                  opacity: 1;
                }
                .tooltiptext {
                  visibility: hidden;
                  width: 120px;
                  background-color: #555;
                  color: #fff;
                  text-align: center;
                  border-radius: 6px;
                  padding: 5px 0;
                  position: absolute;
                  z-index: 1;
                  bottom: 125%;
                  left: 50%;
                  margin-left: -60px;
                  opacity: 0;
                  transition: opacity 0.3s;

                  &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                  }
                }

                img {
                  filter: contrast(0);
                  position: relative;
                  display: inline-block;
                  &:hover {
                    filter: contrast(120%);
                  }
                }
              }
            }
            &:nth-child(2) {
              min-width: 2em;
            }
            &:nth-child(3) {
              display: flex;
              align-items: center;
              margin-left: 1em;
              flex-grow: 1;
            }
            .level {
              width: 2em;
              background: #6a8caf47;
              height: 100%;
              transition: all 0.1s linear;
              margin-left: 0px;
            }
            input {
              border: none;
              outline: none;
              width: 100%;
            }
          }
        }
        .heading-box {
          .heading-row {
            display: flex;
            border-bottom: 1px solid #e0dfdf;
            height: 38px;
            justify-content: left;
            width: 100%;
            .heading-col {
              margin-right: 2em;
              &:first-child {
                &:first-child {
                  width: 7em;
                  display: flex;
                  justify-content: space-around;
                  .tooltip-wrapper {
                    display: flex;
                    position: relative;
                    opacity: 0.3;
                    &:hover {
                      .tooltiptext {
                        visibility: visible;
                        opacity: 1;
                      }
                      opacity: 1;
                    }
                    .tooltiptext {
                      visibility: hidden;
                      width: 120px;
                      background-color: #555;
                      color: #fff;
                      text-align: center;
                      border-radius: 6px;
                      padding: 5px 0;
                      position: absolute;
                      z-index: 1;
                      bottom: 125%;
                      left: 50%;
                      margin-left: -60px;
                      opacity: 0;
                      transition: opacity 0.3s;
    
                      &::after {
                        content: "";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #555 transparent transparent transparent;
                      }
                    }
    
                    img {
                      filter: contrast(0);
                      position: relative;
                      display: inline-block;
                      &:hover {
                        filter: contrast(120%);
                      }
                    }
                  }
                }
              }
              &:nth-child(2) {
                min-width: 2em;
              }
              &:nth-child(3) {
                display: flex;
                align-items: center;
                margin-left: 1em;
                flex-grow: 1;
              }
              .level {
                width: 2em;
                background: #6a8caf47;
                height: 100%;
                transition: all 0.1s linear;
                margin-left: 0px;
              }
              input {
                border: none;
                outline: none;
                width: 100%;
              }
            }
          }
          .sub-heading-box {
            .sub-heading-row {
              display: flex;
              border-bottom: 1px solid #e0dfdf;
              height: 38px;
              justify-content: left;
              width: 100%;
              .sub-heading-col {
                margin-right: 2em;
                &:first-child {
                  &:first-child {
                    width: 7em;
                    display: flex;
                    justify-content: space-around;
                    .tooltip-wrapper {
                      display: flex;
                      position: relative;
                      opacity: 0.3;
                      &:hover {
                        .tooltiptext {
                          visibility: visible;
                          opacity: 1;
                        }
                        opacity: 1;
                      }
                      .tooltiptext {
                        visibility: hidden;
                        width: 120px;
                        background-color: #555;
                        color: #fff;
                        text-align: center;
                        border-radius: 6px;
                        padding: 5px 0;
                        position: absolute;
                        z-index: 1;
                        bottom: 125%;
                        left: 50%;
                        margin-left: -60px;
                        opacity: 0;
                        transition: opacity 0.3s;
      
                        &::after {
                          content: "";
                          position: absolute;
                          top: 100%;
                          left: 50%;
                          margin-left: -5px;
                          border-width: 5px;
                          border-style: solid;
                          border-color: #555 transparent transparent transparent;
                        }
                      }
      
                      img {
                        filter: contrast(0);
                        position: relative;
                        display: inline-block;
                        &:hover {
                          filter: contrast(120%);
                        }
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  min-width: 2em;
                }
                &:nth-child(3) {
                  display: flex;
                  align-items: center;
                  margin-left: 1em;
                  flex-grow: 1;
                }
                .level {
                  width: 2em;
                  background: #6a8caf47;
                  height: 100%;
                  transition: all 0.1s linear;
                  margin-left: 0px;
                }
                input {
                  border: none;
                  outline: none;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  .enter-standard {
    .standard-row {
      display: flex;
      border-bottom: 1px solid #e0dfdf;
      height: 38px;
      justify-content: left;
      width: 100%;
      .standard-col {
        margin-right: 2em;
        &:first-child {
          &:first-child {
            width: 7em;
            display: flex;
            justify-content: space-around;
            .tooltip-wrapper {
              display: flex;
              position: relative;
              opacity: 0.3;
              &:hover {
                .tooltiptext {
                  visibility: visible;
                  opacity: 1;
                }
                opacity: 1;
              }
              .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 0;
                transition: opacity 0.3s;

                &::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: #555 transparent transparent transparent;
                }
              }

              img {
                filter: contrast(0);
                position: relative;
                display: inline-block;
                &:hover {
                  filter: contrast(120%);
                }
              }
            }
          }
        }
        &:nth-child(2) {
          min-width: 2em;
        }
        &:nth-child(3) {
          display: flex;
          align-items: center;
          margin-left: 1em;
          flex-grow: 1;
        }
        .level {
          width: 2em;
          background: #6a8caf47;
          height: 100%;
          transition: all 0.1s linear;
          margin-left: 0px;
        }
        input {
          border: none;
          outline: none;
          width: 100%;
        }
        .chapter {
          color: #2dadba;
          font-weight: bold;
          font-size: 18px;
        }
        .heading {
          color: black;
          font-weight: bold;
          font-size: 16px;
        }
        .sub-heading {
          color: #888;
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
  .add-standard {
    background: #6a8caf;
    width: 100%;
    min-height: 40px;
    margin: 1em 0em 0em 0em;
  }
}
