.cursor-pointer {
  cursor: pointer;
}
button {
  background: white;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.App {
  width: 1180px;
  margin: 0 auto;
}

#root {
  width: 1180px;
  margin: 0 auto;
}
